/* Add to your CSS file */

.ag-header-cell, .ag-header-group-cell {
  padding-left: 4px;
  padding-right: 4px;
}

.ag-header-group-cell {
  .ag-header-cell-comp-wrapper {
    justify-content: center;
  }
}

.ag-ltr {
  .ag-cell {
    display: flex;
    padding-left: 4px;
    padding-right: 4px;
    justify-content: flex-end;
    border-right: 1px solid !important;
  }

  .ag-header-expand-icon {
    display: none;
  }
}

.ag-header-cell-sortable .ag-header-cell-label {
  justify-content: center;
}

.ag-row {
  background-color: unset !important;
}

.ag-cell {
  border: none !important;
}

.ag-root-wrapper {
  background-color: transparent;
}

.dark {
  .ag-header {
    background-color: transparent !important;
    color: var(--color-text-1);
    @apply backdrop-filter backdrop-blur-sm;
  }
  .ag-ltr {
    .ag-cell {
      border-width: 0px;
      border-color: var(--color-dark-line) !important;
      border-right-width: 1px;
      border-right-style: solid;
      // border: none !important;
    }
  }

  .ag-cell.ag-cell-last-left-pinned:not(.ag-cell-range-right,.ag-cell-range-single-cell,.ag-cell-focus:not(.ag-cell-range-selected):focus-within) {
    border-color: var(--color-dark-line) !important;
  }
}
