.\!bg-light-primary-default\/5 {
  background-color: rgb(48 107 242/.05) !important
}

.bg-dark-frame {
  --tw-bg-opacity: 1;
  background-color: rgb(15 15 15/var(--tw-bg-opacity, 1))
}

.bg-dark-input {
  background-color: #7878803D
}

.bg-light-1 {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255/var(--tw-bg-opacity, 1))
}

.bg-light-3 {
  --tw-bg-opacity: 1;
  background-color: rgb(247 247 247/var(--tw-bg-opacity, 1))
}

.bg-light-frame {
  --tw-bg-opacity: 1;
  background-color: rgb(243 245 246/var(--tw-bg-opacity, 1))
}

.bg-light-input {
  background-color: #7878800F
}

.bg-button-dark-default {
  --tw-bg-opacity: 1;
  background-color: rgb(110 54 26/var(--tw-bg-opacity, 1))
}

.bg-button-dark-disabled\/25 {
  background-color: rgb(120 120 128/.25)
}

.bg-button-light-default {
  --tw-bg-opacity: 1;
  background-color: rgb(110 54 26/var(--tw-bg-opacity, 1))
}

.bg-light-chart-yellow {
  --tw-bg-opacity: 1;
  background-color: rgb(255 174 71/var(--tw-bg-opacity, 1))
}

.bg-light-primary-default {
  --tw-bg-opacity: 1;
  background-color: rgb(48 107 242/var(--tw-bg-opacity, 1))
}

.bg-light-primary-default\/5 {
  background-color: rgb(48 107 242/.05)
}

.odd\:bg-light-3:nth-child(odd) {
  --tw-bg-opacity: 1;
  background-color: rgb(247 247 247/var(--tw-bg-opacity, 1))
}

.hover\:bg-button-light-disabled\/25:hover {
  background-color: rgb(120 120 128/.25)
}

.hover\:bg-text-light-highlight\/20:hover {
  background-color: rgb(48 107 242/.2)
}

.data-\[dnd-dragging\=true\]\:bg-light-frame[data-dnd-dragging=true] {
  --tw-bg-opacity: 1;
  background-color: rgb(243 245 246/var(--tw-bg-opacity, 1))
}

.data-\[state\=active\]\:bg-button-light-secondary[data-state=active] {
  --tw-bg-opacity: 1;
  background-color: rgb(239 241 254/var(--tw-bg-opacity, 1))
}

.data-\[state\=active\]\:bg-light-primary-default[data-state=active],
.data-\[state\=checked\]\:bg-light-primary-default[data-state=checked] {
  --tw-bg-opacity: 1;
  background-color: rgb(48 107 242/var(--tw-bg-opacity, 1))
}

.group[data-state=active] .group-data-\[state\=active\]\:bg-light-primary-default {
  --tw-bg-opacity: 1;
  background-color: rgb(48 107 242/var(--tw-bg-opacity, 1))
}

.dark\:bg-dark-1:is(.dark *) {
  --tw-bg-opacity: 1;
  background-color: rgb(17 18 19/var(--tw-bg-opacity, 1))
}

.dark\:bg-dark-2:is(.dark *) {
  --tw-bg-opacity: 1;
  background-color: rgb(28 30 33/var(--tw-bg-opacity, 1))
}

.dark\:bg-dark-3:is(.dark *) {
  --tw-bg-opacity: 1;
  background-color: rgb(29 29 31/var(--tw-bg-opacity, 1))
}

.dark\:bg-dark-frame:is(.dark *) {
  --tw-bg-opacity: 1;
  background-color: rgb(15 15 15/var(--tw-bg-opacity, 1))
}

.dark\:bg-dark-input:is(.dark *) {
  background-color: #3C3C3C
}

.dark\:bg-light-frame:is(.dark *) {
  --tw-bg-opacity: 1;
  background-color: rgb(243 245 246/var(--tw-bg-opacity, 1))
}

.dark\:bg-button-dark-default:is(.dark *) {
  --tw-bg-opacity: 1;
  background-color: rgb(110 54 26/var(--tw-bg-opacity, 1))
}

.dark\:bg-dark-chart-yellow:is(.dark *) {
  --tw-bg-opacity: 1;
  background-color: rgb(255 174 71/var(--tw-bg-opacity, 1))
}

.dark\:odd\:bg-dark-3:nth-child(odd):is(.dark *) {
  --tw-bg-opacity: 1;
  background-color: rgb(29 29 31/var(--tw-bg-opacity, 1))
}

.dark\:disabled\:bg-button-dark-disabled:disabled:is(.dark *) {
  background-color: #7878803D
}

.dark\:data-\[dnd-dragging\=true\]\:bg-dark-frame[data-dnd-dragging=true]:is(.dark *) {
  --tw-bg-opacity: 1;
  background-color: rgb(15 15 15/var(--tw-bg-opacity, 1))
}

.mac-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, .3) rgba(0, 0, 0, 0)
}

.mac-scrollbar::-webkit-scrollbar {
  width: 8px;
  height: 8px
}

.mac-scrollbar::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0)
}

.mac-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, .3);
  border-radius: 10px;
  border: 2px solid rgba(0, 0, 0, 0);
  background-clip: content-box;
  -webkit-transition: background-color .2s ease;
  transition: background-color .2s ease
}

.mac-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, .5)
}

.dark .mac-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, .3)
}

.dark .mac-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, .5)
}

.dark .mac-scrollbar {
  scrollbar-color: rgba(255, 255, 255, .3) rgba(0, 0, 0, 0)
}

.bg-\[transparent\] {
  background-color: transparent
}

.hover\:border-primary-1:hover {
  --tw-border-opacity: 1;
  border-color: rgb(48 107 242/var(--tw-border-opacity, 1))
}

.hover\:border-light-primary-hover:hover {
  --tw-border-opacity: 1;
  border-color: rgb(51 136 254/var(--tw-border-opacity, 1))
}

.hover\:text-neutral-1:hover {
  --tw-text-opacity: 1;
  color: rgb(30 35 35/var(--tw-text-opacity, 1))
}

.hover\:text-text-1:hover {
  --tw-text-opacity: 1;
  color: rgb(249 249 249/var(--tw-text-opacity, 1))
}

.hover\:text-text-3:hover {
  --tw-text-opacity: 1;
  color: rgb(152 163 179/var(--tw-text-opacity, 1))
}

.hover\:text-light-price-down:hover {
  --tw-text-opacity: 1;
  color: rgb(239 69 74/var(--tw-text-opacity, 1))
}

.hover\:text-light-primary-default:hover {
  --tw-text-opacity: 1;
  color: rgb(48 107 242/var(--tw-text-opacity, 1))
}

.hover\:text-light-primary-hover:hover {
  --tw-text-opacity: 1;
  color: rgb(110 54 26/var(--tw-text-opacity, 1))
}

.hover\:text-dark-default:hover {
  --tw-text-opacity: 1;
  color: rgb(255 255 255/var(--tw-text-opacity, 1))
}

.focus\:border-primary-1:focus {
  --tw-border-opacity: 1;
  border-color: rgb(48 107 242/var(--tw-border-opacity, 1))
}

.focus\:\!text-light-price-down:focus {
  --tw-text-opacity: 1 !important;
  color: rgb(239 69 74/var(--tw-text-opacity, 1)) !important
}

.focus\:text-light-price-down:focus {
  --tw-text-opacity: 1;
  color: rgb(239 69 74/var(--tw-text-opacity, 1))
}

.focus\:text-light-primary-default:focus {
  --tw-text-opacity: 1;
  color: rgb(48 107 242/var(--tw-text-opacity, 1))
}

.focus\:ring:focus {
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000)
}

.focus\:ring-offset:focus {
  --tw-ring-offset-width: 2px
}

.focus\:ring-light-primary-offset-hover:focus {
  --tw-ring-offset-color: #3388FE
}

.focus-visible\:ring:focus-visible {
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000)
}

.focus-visible\:ring-offset:focus-visible {
  --tw-ring-offset-width: 2px
}

.focus-visible\:ring-light-primary-offset-hover:focus-visible {
  --tw-ring-offset-color: #3388FE
}

.disabled\:\!text-light-disabled:disabled {
  color: #3C3C434D !important
}

.disabled\:opacity-50:disabled {
  opacity: .5
}

.group:hover .group-hover\:flex {
  display: flex
}

.group:hover .group-hover\:-translate-y-1 {
  --tw-translate-y: -0.25rem
}

.group:hover .group-hover\:-translate-y-1,
.group:hover .group-hover\:translate-x-1 {
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.group:hover .group-hover\:translate-x-1 {
  --tw-translate-x: 0.25rem
}

.group:hover .group-hover\:rotate-180 {
  --tw-rotate: 180deg
}

.group:hover .group-hover\:rotate-180,
.group:hover .group-hover\:scale-\[1\.05\] {
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.group:hover .group-hover\:scale-\[1\.05\] {
  --tw-scale-x: 1.05;
  --tw-scale-y: 1.05
}

.group:hover .group-hover\:scale-\[1\.2\] {
  --tw-scale-x: 1.2;
  --tw-scale-y: 1.2;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.group:hover .group-hover\:text-neutral-1 {
  --tw-text-opacity: 1;
  color: rgb(30 35 35/var(--tw-text-opacity, 1))
}

.group:hover .group-hover\:text-neutral-3 {
  --tw-text-opacity: 1;
  color: rgb(139 140 155/var(--tw-text-opacity, 1))
}

.group:hover .group-hover\:text-light-price-down {
  --tw-text-opacity: 1;
  color: rgb(239 69 74/var(--tw-text-opacity, 1))
}

.group:hover .group-hover\:text-dark-primary-hover,
.group:hover .group-hover\:text-light-primary-hover {
  --tw-text-opacity: 1;
  color: rgb(110 54 26/var(--tw-text-opacity, 1))
}

.group:hover .group-hover\:text-light-highlight {
  --tw-text-opacity: 1;
  color: rgb(48 107 242/var(--tw-text-opacity, 1))
}

.group:hover .group-hover\:underline {
  text-decoration-line: underline
}

.group:hover .group-hover\:opacity-100 {
  opacity: 1
}

.data-\[disabled\=true\]\:pointer-events-none[data-disabled=true],
.data-\[disabled\]\:pointer-events-none[data-disabled] {
  pointer-events: none
}

.data-\[side\=bottom\]\:translate-y-1[data-side=bottom] {
  --tw-translate-y: 0.25rem
}

.data-\[side\=bottom\]\:translate-y-1[data-side=bottom],
.data-\[side\=left\]\:-translate-x-1[data-side=left] {
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.data-\[side\=left\]\:-translate-x-1[data-side=left] {
  --tw-translate-x: -0.25rem
}

.data-\[side\=right\]\:translate-x-1[data-side=right] {
  --tw-translate-x: 0.25rem
}

.data-\[side\=right\]\:translate-x-1[data-side=right],
.data-\[side\=top\]\:-translate-y-1[data-side=top] {
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.data-\[side\=top\]\:-translate-y-1[data-side=top] {
  --tw-translate-y: -0.25rem
}

.data-\[state\=checked\]\:translate-x-5[data-state=checked] {
  --tw-translate-x: 1.25rem
}

.data-\[state\=checked\]\:translate-x-5[data-state=checked],
.data-\[state\=unchecked\]\:translate-x-0[data-state=unchecked] {
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.data-\[state\=unchecked\]\:translate-x-0[data-state=unchecked] {
  --tw-translate-x: 0px
}

.data-\[state\=active\]\:bg-transparent[data-state=active] {
  background-color: transparent
}

.data-\[state\=checked\]\:font-bold[data-state=checked] {
  font-weight: 700
}

.data-\[state\=active\]\:text-light-primary-default[data-state=active] {
  --tw-text-opacity: 1;
  color: rgb(48 107 242/var(--tw-text-opacity, 1))
}

.data-\[state\=active\]\:text-light-default[data-state=active] {
  --tw-text-opacity: 1;
  color: rgb(0 0 0/var(--tw-text-opacity, 1))
}

.data-\[state\=active\]\:text-white[data-state=active] {
  --tw-text-opacity: 1;
  color: rgb(255 255 255/var(--tw-text-opacity, 1))
}

.data-\[state\=checked\]\:text-light-primary-default[data-state=checked] {
  --tw-text-opacity: 1;
  color: rgb(48 107 242/var(--tw-text-opacity, 1))
}

.data-\[state\=checked\]\:text-white[data-state=checked] {
  --tw-text-opacity: 1;
  color: rgb(255 255 255/var(--tw-text-opacity, 1))
}

.data-\[disabled\=true\]\:opacity-50[data-disabled=true],
.data-\[disabled\]\:opacity-50[data-disabled] {
  opacity: .5
}

.data-\[dnd-dragging\=true\]\:shadow-lg[data-dnd-dragging=true] {
  --tw-shadow: 0 10px 15px -3px rgb(0 0 0/0.1), 0 4px 6px -4px rgb(0 0 0/0.1);
  --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color), 0 4px 6px -4px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

.data-\[editor-focused\=true\]\:ring[data-editor-focused=true] {
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000)
}

.data-\[editor-focused\=true\]\:ring-offset[data-editor-focused=true] {
  --tw-ring-offset-width: 2px
}

.data-\[editor-focused\=true\]\:ring-light-primary-offset-hover[data-editor-focused=true] {
  --tw-ring-offset-color: #3388FE
}

.data-\[state\=open\]\:animate-in[data-state=open] {
  animation-name: enter;
  animation-duration: .15s;
  --tw-enter-opacity: initial;
  --tw-enter-scale: initial;
  --tw-enter-rotate: initial;
  --tw-enter-translate-x: initial;
  --tw-enter-translate-y: initial
}

.data-\[state\=closed\]\:animate-out[data-state=closed] {
  animation-name: exit;
  animation-duration: .15s;
  --tw-exit-opacity: initial;
  --tw-exit-scale: initial;
  --tw-exit-rotate: initial;
  --tw-exit-translate-x: initial;
  --tw-exit-translate-y: initial
}

.data-\[state\=closed\]\:fade-out-0[data-state=closed] {
  --tw-exit-opacity: 0
}

.data-\[state\=open\]\:fade-in-0[data-state=open] {
  --tw-enter-opacity: 0
}

.data-\[state\=closed\]\:zoom-out-95[data-state=closed] {
  --tw-exit-scale: .95
}

.data-\[state\=open\]\:zoom-in-95[data-state=open] {
  --tw-enter-scale: .95
}

.data-\[side\=bottom\]\:slide-in-from-top-2[data-side=bottom] {
  --tw-enter-translate-y: -0.5rem
}

.data-\[side\=left\]\:slide-in-from-right-2[data-side=left] {
  --tw-enter-translate-x: 0.5rem
}

.data-\[side\=right\]\:slide-in-from-left-2[data-side=right] {
  --tw-enter-translate-x: -0.5rem
}

.data-\[side\=top\]\:slide-in-from-bottom-2[data-side=top] {
  --tw-enter-translate-y: 0.5rem
}

.data-\[state\=closed\]\:slide-out-to-left-1\/2[data-state=closed] {
  --tw-exit-translate-x: -50%
}

.data-\[state\=closed\]\:slide-out-to-top-\[48\%\][data-state=closed] {
  --tw-exit-translate-y: -48%
}

.data-\[state\=open\]\:slide-in-from-left-1\/2[data-state=open] {
  --tw-enter-translate-x: -50%
}

.data-\[state\=open\]\:slide-in-from-top-\[48\%\][data-state=open] {
  --tw-enter-translate-y: -48%
}

.group[data-state=open] .group-data-\[state\=open\]\:rotate-180 {
  --tw-rotate: 180deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.dark\:divide-dark-line:is(.dark *)>:not([hidden])~:not([hidden]) {
  --tw-divide-opacity: 1;
  border-color: rgb(42 47 70/var(--tw-divide-opacity, 1))
}

.dark\:border-\[1px\]:is(.dark *) {
  border-width: 1px
}

.dark\:border-black:is(.dark *) {
  --tw-border-opacity: 1;
  border-color: rgb(31 37 51/var(--tw-border-opacity, 1))
}

.dark\:border-primary-1:is(.dark *) {
  --tw-border-opacity: 1;
  border-color: rgb(48 107 242/var(--tw-border-opacity, 1))
}

.dark\:border-dark-line:is(.dark *) {
  --tw-border-opacity: 1;
  border-color: rgb(42 47 70/var(--tw-border-opacity, 1))
}

.dark\:border-v3-text-dark-subtext-2:is(.dark *) {
  border-color: #EBEBF599
}

.dark\:text-neutral-3:is(.dark *) {
  --tw-text-opacity: 1;
  color: rgb(139 140 155/var(--tw-text-opacity, 1))
}

.dark\:text-text-1:is(.dark *) {
  --tw-text-opacity: 1;
  color: rgb(249 249 249/var(--tw-text-opacity, 1))
}

.dark\:text-text-3:is(.dark *) {
  --tw-text-opacity: 1;
  color: rgb(152 163 179/var(--tw-text-opacity, 1))
}

.dark\:text-dark-price-floor:is(.dark *) {
  --tw-text-opacity: 1;
  color: rgb(0 201 255/var(--tw-text-opacity, 1))
}

.dark\:text-dark-price-up:is(.dark *) {
  --tw-text-opacity: 1;
  color: rgb(11 223 57/var(--tw-text-opacity, 1))
}

.dark\:text-dark-price-ceil:is(.dark *) {
  --tw-text-opacity: 1;
  color: rgb(224 64 251/var(--tw-text-opacity, 1))
}

.dark\:text-dark-price-down:is(.dark *) {
  --tw-text-opacity: 1;
  color: rgb(224 64 64/var(--tw-text-opacity, 1))
}

.dark\:text-dark-price-ref:is(.dark *) {
  --tw-text-opacity: 1;
  color: rgb(255 207 0/var(--tw-text-opacity, 1))
}

.dark\:text-dark-primary-default:is(.dark *) {
  --tw-text-opacity: 1;
  color: rgb(48 107 242/var(--tw-text-opacity, 1))
}

.dark\:text-dark-primary-hover:is(.dark *) {
  --tw-text-opacity: 1;
  color: rgb(235 235 245/var(--tw-text-opacity, 1))
}

.dark\:text-dark-default:is(.dark *) {
  --tw-text-opacity: 1;
  color: rgb(255 255 255/var(--tw-text-opacity, 1))
}

.dark\:text-dark-highlight:is(.dark *) {
  --tw-text-opacity: 1;
  color: rgb(51 136 254/var(--tw-text-opacity, 1))
}

.dark\:text-dark-subtext-2:is(.dark *) {
  color: #EBEBF599
}

.dark\:text-white:is(.dark *) {
  --tw-text-opacity: 1;
  color: rgb(255 255 255/var(--tw-text-opacity, 1))
}

.dark\:text-white\/60:is(.dark *) {
  color: rgb(255 255 255/.6)
}

.dark\:shadow-lg:is(.dark *) {
  --tw-shadow: 0 10px 15px -3px rgb(0 0 0/0.1), 0 4px 6px -4px rgb(0 0 0/0.1);
  --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color), 0 4px 6px -4px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

.dark\:ring-dark-primary-offset-hover:is(.dark *) {
  --tw-ring-offset-color: #3388FE
}

.dark\:hover\:border-dark-primary-hover:hover:is(.dark *) {
  --tw-border-opacity: 1;
  border-color: rgb(51 136 254/var(--tw-border-opacity, 1))
}

.dark\:hover\:text-dark-price-down:hover:is(.dark *) {
  --tw-text-opacity: 1;
  color: rgb(224 64 64/var(--tw-text-opacity, 1))
}

.dark\:hover\:text-dark-primary-hover:hover:is(.dark *) {
  --tw-text-opacity: 1;
  color: rgb(235 235 245/var(--tw-text-opacity, 1))
}

.dark\:hover\:text-white:hover:is(.dark *) {
  --tw-text-opacity: 1;
  color: rgb(255 255 255/var(--tw-text-opacity, 1))
}

.hover\:dark\:text-text-1:is(.dark *):hover {
  --tw-text-opacity: 1;
  color: rgb(249 249 249/var(--tw-text-opacity, 1))
}

.hover\:dark\:text-dark-primary-hover:is(.dark *):hover {
  --tw-text-opacity: 1;
  color: rgb(235 235 245/var(--tw-text-opacity, 1))
}

.hover\:dark\:text-white:is(.dark *):hover {
  --tw-text-opacity: 1;
  color: rgb(255 255 255/var(--tw-text-opacity, 1))
}

.dark\:focus\:\!text-dark-price-down:focus:is(.dark *) {
  --tw-text-opacity: 1 !important;
  color: rgb(224 64 64/var(--tw-text-opacity, 1)) !important
}

.dark\:focus\:text-dark-price-down:focus:is(.dark *) {
  --tw-text-opacity: 1;
  color: rgb(224 64 64/var(--tw-text-opacity, 1))
}

.dark\:focus\:ring-dark-primary-offset-hover:focus:is(.dark *) {
  --tw-ring-offset-color: #3388FE
}

.dark\:focus-visible\:\!outline-none:focus-visible:is(.dark *) {
  outline: 2px solid transparent !important;
  outline-offset: 2px !important
}

.dark\:focus-visible\:outline-none:focus-visible:is(.dark *) {
  outline: 2px solid transparent;
  outline-offset: 2px
}

.group:hover .dark\:group-hover\:text-dark-price-down:is(.dark *) {
  --tw-text-opacity: 1;
  color: rgb(224 64 64/var(--tw-text-opacity, 1))
}

.group:hover .dark\:group-hover\:text-dark-primary-hover:is(.dark *) {
  --tw-text-opacity: 1;
  color: rgb(235 235 245/var(--tw-text-opacity, 1))
}

.group:hover .group-hover\:dark\:text-text-1:is(.dark *) {
  --tw-text-opacity: 1;
  color: rgb(249 249 249/var(--tw-text-opacity, 1))
}

.group:hover .group-hover\:dark\:text-text-3:is(.dark *) {
  --tw-text-opacity: 1;
  color: rgb(152 163 179/var(--tw-text-opacity, 1))
}

.dark\:data-\[state\=active\]\:text-dark-primary-default[data-state=active]:is(.dark *) {
  --tw-text-opacity: 1;
  color: rgb(48 107 242/var(--tw-text-opacity, 1))
}

.dark\:data-\[state\=active\]\:text-dark-default[data-state=active]:is(.dark *) {
  --tw-text-opacity: 1;
  color: rgb(255 255 255/var(--tw-text-opacity, 1))
}

.dark\:data-\[editor-focused\=true\]\:ring-dark-primary-offset-hover[data-editor-focused=true]:is(.dark *) {
  --tw-ring-offset-color: #3388FE
}

.text-body,
.text-button {
  font-size: 14px;
  line-height: 24px
}

.text-caption {
  font-size: 12px;
  line-height: 18px
}

.text-outline {
  font-size: 11px;
  line-height: 16px
}

@media (min-width: 1200px) {
  .last\:mxl\:block:last-child {
    display: block
  }
}

.border-light-line {
  border-color: #e2eaf3;
}

.text-light-price-ref {
  color: #E78B03;
}

.text-light-price-down {
  color: #FD1414;
}

.text-light-price-up {
  color: #25A549;
}

.text-light-price-floor {
  color: #13ACDE;
}

.text-light-price-ceil {
  color: #DC20CE;
}

.border-neutral-12 {
  --tw-border-opacity: 0.5;
  border-color: rgb(157 157 157/var(--tw-border-opacity, 1))
}