@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {

  /* Colors */
  --color-light-1: rgb(255, 255, 255); /* White */
  --color-light-3: rgb(247, 247, 247); /* Light gray */
  --color-light-frame: rgb(243, 245, 246); /* Light frame */
  --color-light-primary-default: rgb(48, 107, 242); /* Primary blue */
  --color-light-primary-hover: rgb(51, 136, 254); /* Light blue */
  --color-light-secondary: rgb(239, 241, 254); /* Light secondary */
  --color-light-brown: rgb(110, 54, 26); /* Brown for buttons */
  --color-light-chart-yellow: rgb(255, 174, 71); /* Yellow */
  --color-light-input: rgba(120, 120, 128, 0.06); /* Light input */
  --color-light-price-down: rgb(253, 20, 20); /* Red */
  --color-light-price-up: rgb(37, 165, 73); /* Green */
  --color-light-price-ref: rgb(240, 133, 0);
  --color-light-price-floor: rgb(19, 172, 222); /* Cyan */
  --color-light-price-ceil: rgb(220, 32, 206); /* Magenta */
  --color-neutral-1: rgb(30, 35, 35); /* Dark gray */
  --color-neutral-3: rgb(139, 140, 155); /* Neutral gray */
  --color-text-1: rgb(249, 249, 249); /* Near-white */
  --color-text-3: rgb(152, 163, 179); /* Light gray text */
  --color-light-line: rgb(226, 234, 243); /* Light blue-gray */
  --color-neutral-12: rgb(157, 157, 157); /* Gray for border */
  --color-dark-1: rgb(17, 18, 19); /* Dark background */
  --color-dark-2: rgb(28, 30, 33); /* Darker background */
  --color-dark-3: rgb(29, 29, 31); /* Dark gray */
  --color-dark-frame: rgb(15, 15, 15); /* Very dark gray */
  --color-dark-input: rgb(60, 60, 60); /* Medium gray */
  --color-dark-button-disabled: rgba(120, 120, 128, 0.24); /* Gray with opacity */
  --color-dark-price-floor: rgb(0, 201, 255); /* Cyan */
  --color-dark-price-up: rgb(11, 223, 57); /* Green */
  --color-dark-price-ref: rgb(240, 130, 0);
  --color-dark-price-ceil: rgb(224, 64, 251); /* Magenta */
  --color-dark-price-down: rgb(224, 64, 64); /* Red */
  --color-dark-primary-default: rgb(48, 107, 242); /* Primary blue */
  --color-dark-primary-hover: rgb(235, 235, 245); /* Light gray */
  --color-dark-default: rgb(255, 255, 255); /* White */
  --color-dark-highlight: rgb(51, 136, 254); /* Light blue */
  --color-dark-subtext-2: rgba(235, 235, 245, 0.6); /* Light gray with opacity */
  --color-dark-line: rgb(42, 47, 70); /* Dark blue-gray */
  --color-dark-border-black: rgb(31, 37, 51); /* Dark gray */
  --color-light-disabled: rgba(60, 60, 67, 0.3); /* Disabled text */
  --color-ring-primary: rgb(51, 136, 254); /* Focus ring blue */

  /* Background */
  --color-bg-dark-frame: rgb(15, 15, 15);
  --color-button-light-default: rgb(110, 54, 26);
  --color-button-dark-default: rgb(110, 54, 26);
  --color-button-primary: rgb(0 166 80);
  --color-price-up: #25A549;
  --color-price-down: #FD1414;
  --color-neutral: #dfdfdf;

  /* Opacities */
  --opacity-5: 0.05;
  --opacity-20: 0.2;
  --opacity-25: 0.25;
  --opacity-50: 0.5;
  --opacity-60: 0.6;
  --opacity-100: 1;

  /* Font Sizes */
  --font-size-body: 14px;
  --font-size-button: 14px;
  --font-size-caption: 12px;
  --font-size-outline: 11px;

  /* Line Heights */
  --line-height-body: 24px;
  --line-height-button: 24px;
  --line-height-caption: 18px;
  --line-height-outline: 16px;

  /* Shadows */
  --shadow-lg: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);

  /* Border Widths */
  --border-width-1: 1px;
  --border-width-2: 2px;

  /* Scrollbar Colors */
  --scrollbar-thumb-light: rgba(0, 0, 0, 0.3);
  --scrollbar-track-light: rgba(0, 0, 0, 0);
  --scrollbar-thumb-light-hover: rgba(0, 0, 0, 0.5);
  --scrollbar-thumb-dark: rgba(255, 255, 255, 0.3);
  --scrollbar-track-dark: rgba(0, 0, 0, 0);
  --scrollbar-thumb-dark-hover: rgba(255, 255, 255, 0.5);
}